In [68]:
import pandas as pd
import numpy as np
import sqlite3
from glob import glob

df = pd.read_csv('bom.movie_gross.csv.gz')

#Comparing Two Datasets:imdb.title and tmdb.movies. Cleaning the two datasets for any missing values. Will look to see if the datasets can be combined using a reference value.

In [70]:
df.shape

(3387, 5)

In [14]:
df.columns

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [37]:
df['studio'].value_counts()

IFC          166
Uni.         147
WB           140
Magn.        136
Fox          136
            ...
MUBI           1
EF             1
Rocket         1
Libre          1
Dreamwest      1
Name: studio, Length: 257, dtype: int64

In [43]:
df.loc[0]

title             Toy Story 3
studio                     BV
domestic_gross       4.15e+08
foreign_gross       652000000
year                     2010
Name: 0, dtype: object

In [5]:
#Globally importing all files in the folder, instead of importing just the one file as done earlier in the notebook.
csv_files = glob("./zippedData/*.csv.gz")
csv_files

['./zippedData/imdb.title.crew.csv.gz',
 './zippedData/tmdb.movies.csv.gz',
 './zippedData/imdb.title.ratings.csv.gz',
 './zippedData/tn.movie_budgets.csv.gz']

In [6]:
csv_files[1]

'./zippedData/tmdb.movies.csv.gz'

In [7]:
df = pd.read_csv(csv_files[1])

In [26]:
#inspecting all columns in the dataset
df.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [44]:
#Grouping by language to check see popularity for each language. 

df.groupby(['original_language', 'popularity'])['vote_average'].sum()

original_language  popularity
ab                 0.600         23.0
                   1.293          6.0
                   1.796          4.8
af                 4.814          5.8
ar                 0.600         62.2
                                 ...
zh                 10.745         4.9
                   10.856         6.7
                   11.952         5.3
                   12.416         6.3
                   18.161         6.5
Name: vote_average, Length: 9234, dtype: float64

In [71]:
#Checking the unique values for the 'title' column. 
#The purpose is to potentially use this column to join with imdb.title.crew

df['title'].unique()

array(['Toy Story 3', 'Alice in Wonderland (2010)',
       'Harry Potter and the Deathly Hallows Part 1', ..., 'El Pacto',
       'The Swan', 'An Actor Prepares'], dtype=object)

In [65]:
#Checking is their are any null values.
df.isna().sum()

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

The two Data sets could be combined using the movie names. The combined data set will provide a movie's popularity, and customer voted average. Hence combining the financial success and viewers polularity in a single dataset.